<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-8">
      <p class="d-inline-block px-2">Overview</p>
      <a class="d-inline-block px-2" href="/all_repos">Repositories <%= @all_repos.count %></a>
      <a class="d-inline-block px-2" href="/recent_commits">Recent Commits </a>
      <p class="d-inline-block starred px-2">Stars <%= @starred_repos.count %></p>
      <p class="d-inline-block followers px-2">Followers <%= @github_user.followers %></p>
      <p class="d-inline-block following px-2">Following <%= @github_user.following %></p>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="<%= @github_user.picture_url %>" class="profile_pic" height="220" width="220">
      <h3 class="name"><%= @github_user.name %></h3>
      <p class ="login_name text-muted"><%= @github_user.login_name %></p></br>
      <p class="description text-muted"><%= @github_user.description %></p></br>
      <p class="location"><%= @github_user.location %></p>
      <p class="email text-primary"><%= @github_user.email %></p>
    </div>
    <div class="col-9">
      <div class="row">
      <% @all_repos.each do |repo| %>
      <div class="card col-md-5 m-1">
        <div class="card-block">
          <h4 class="card-text text-primary"><%= repo[:name] %></h4>
          <h6 class="card-subtitle mb-2 text-muted"><%= repo[:language] %></h6>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
