<h1>Profile</h1>

<ul class="member">
  <li class="email">Email: <%= @member.email %></li>
  <li class="location">Location: <%= @member.location %></li>

  <li class="followers">Followers: <%= @member.followers %></li>
  <li class="following">Following: <%= @member.following %></li>
</ul>

<%= link_to "Logout", logout_path, method: :delete %>
