<h1>Profile</h1>

<img src="<%= @github_user.picture_url %>" class="profile_pic" height="42" width="42">
<ul class="member">
  <li class="email">Email: <%= @github_user.email %></li>
  <li class="location">Location: <%= @github_user.location %></li>

  <li class="followers">Followers: <%= @github_user.followers %></li>
  <li class="following">Following: <%= @github_user.following %></li>
  <li class="starred">Starred repos: <%= @repos.count %></li>
</ul>

<%= link_to "Logout", logout_path, method: :delete %>
