<!DOCTYPE html>
<html>
  <head>
    <title>Apicurious</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search GitHub">
      </form>
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" href="#">Pull requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Issues</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Explore</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              +
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">New repository</a>
              <a class="dropdown-item" href="#">Import repository</a>
              <a class="dropdown-item" href="#">New gist</a>
              <a class="dropdown-item" href="#">New organization</a>
            </div>
          </li>
          <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= @github_user.picture_url %>" class="profile_pic" height="42" width="42">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Signed in as </a>
              <a class="dropdown-item" href="/profile">Your profile</a>
              <a class="dropdown-item" href="#">Your stars</a>
              <a class="dropdown-item" href="#">Your gists</a>
              <a class="dropdown-item" href="#">Help</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" <%= link_to "Sign Out", logout_path, method: "delete" %></a>
            </div>
            <% else %>
            <%= link_to "Login With GitHub", "/auth/github" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
